
#body-header{
	height: 65vh;
	background-image: url("C:/Users/91971/Downloads/macbook_mouse.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	opacity: 0.8;
}

.horizontal-list{
	list-style: none;
	padding-top: 0.5rem;
}

.horizontal-list li{
	display: inline-block;
	margin: 0px 20px 0px 20px;
}

.horizontal-list li a{
	color: white;
	text-decoration: none;
}

.horizontal-list li a:hover{
	color: red;
	border-bottom: 1px solid white;
}

.text-allign{
	text-align: center;
}

#my-name{
	font-size: 3rem;
	color: white;
	margin-top: 22vh;
	margin margin-bottom: 0.5rem;
	letter-spacing: 0.1rem;
}

.horizontal-list2{
	list-style: none;
}

.horizontal-list2 li{
	display: inline-block;
	margin: 0px 10px 0px 10px;
}

.horizontal-list2 li a img{
	height: 20px;
	width: 20px;
	border-radius: 50%;
}

.horizontal-list2 li a img:hover{
	box-shadow: 0px 0px 6px 6px lightgrey;
}

.image-round img{
	border-radius: 50%;
	height: 10rem;
	width: 10rem;
	margin-top: -5rem;
	border: 3px solid white;
}

#about{
	position: relative;
}

.image-round img:hover{
	box-shadow: 0px 0px 6px 6px lightgrey;
}

.about-para p{
	margin-left: 7rem;
	margin-right: 7rem;
}

.skills-head{
	background-color: lightgrey;
	display: flex;
	justify-content: center;
}

#gap-upper img{
	padding-top: 20px;
}

.skills-f{
	background-color: lightgrey;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 20px;
	padding-bottom: 20px;
}

.skills-outline{
	border: 2px solid black;
	border-radius: 40%;
	height: 1.4rem;
	width: 10rem;
	margin-top: 40px;
	font-size: 1rem;
	box-shadow: 0px 0px 4px 4px orange;
	margin-left: 7rem;
	margin-right: 7rem;
}

span{
	margin-left: 3rem;
}

#red{
	background-color: red;
	height: inherit;
	width: 80%;
	border-radius: 40%;
}

#purple{
	background-color: purple;
	height: inherit;
	width: 80%;
	border-radius: 40%;
}

#blue{
	background-color: blue;
	height: inherit;
	width: 60%;
	border-radius: 40%;
}

#green{
	background-color: greenyellow;
	height: inherit;
	width: 40%;
	border-radius: 50%;
}

#yellow{
	background-color: yellow;
	height: inherit;
	width: 70%;
	border-radius: 40%;
}

.portfolio{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.portfolio div img{
	margin-top: 50px;
	height: 200px;
	width: 200px;
}

.portfolio div{
	margin-left: 5rem;
	margin-right: 5rem;
}	

.description{
	position: relative;
}

.description div{
	position: absolute;
	visibility: hidden;
	background: lightgrey;
}

.description:hover{
	cursor: pointer;
}

.description:hover div{
	visibility: visible;
	opacity: 0.7;
	width: auto;
}

.together{
	display: flex;
	justify-content: center;
}

.grad{
	background: linear-gradient(blue, purple);
}

.cont{
	display: flex;
	justify-content: center;
}

#form{
	margin-left: 7rem;
	margin-top: 2rem;
	padding-bottom: 1rem;
	font-size: 25px;
}

#side-margin{
	margin-right: 7rem;
	padding-bottom: 20px;
}

#top-image-we{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

#timeline{
	position: relative;
	margin: 10px 5rem 10px 5rem;
	height: 65vh;
}

.timeline-elements{
	width: 40%;
	height: 30%;
	margin-top: 6px;
	margin-left: 2rem;
}

.timeline-elements:nth-child(2n){
	margin-left: 55%;
}

#mid-border{
	position: absolute;
	height: 80%;
	width: 0px;
	border: 2px dashed blue;
	left: 50%;
	top: 10%;
}

#timeline-traveller{
	position: sticky;
	transform: rotate(90deg);
}

/*.timeline-elements::after{
	content: '';
	position: absolute;
	border-radius: 50%;
	height: 0.5rem;
	width: 0.5rem;
	background-color: darkred;
	right: 0px;
	top: 10%;
}*/

.timeline-boxes{
	width: 40%;
	height: 30%;
	margin-top: 6px;
	margin-left: 2rem;
}

.timeline-boxes:nth-child(2n){
	margin-left: 55%;
}

@media screen and (max-width: 600px;){
	#mid-border{
		left: 1rem;
	}

	.timeline-elements:nth-child(2n){
		left: 2rem;
	}

	.timeline-boxes:nth-child(2n){
		left: 2rem;
	}

}
